<ion-view view-title="Memory Jogger - Home">

    <ion-content>

        <div id="profile-bg"></div>
        <div id="content">
            <div id="profile-info">
                <img id="profile-image" src="../img/ProfileDoctor.jpg">
                <h3 id="profile-name">Welcome, Sandra!</h3>
            </div>
            <ion-list>

                <p class="item calm my-fontLive" href="#" style="text-align:center ">
                    <b>Patients List</b>

                </p>

                <a class="item item-text-wrap item-avatar my-font item-icon-right" href="">
                    <img ng-src="img/128.jpg">
                    <h2>Smith John</h2>
                    <p>Room 113</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </a>
                <a class="item item-text-wrap item-avatar my-font item-icon-right" href="">
                    <img ng-src="img/128.jpg">
                    <h2>Smith John</h2>
                    <p>Room 113</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </a>
                <a class="item item-text-wrap item-avatar my-font item-icon-right" href="">
                    <img ng-src="img/128.jpg">
                    <h2>Smith John</h2>
                    <p>Room 113</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </a>
                <a class="item item-text-wrap item-avatar my-font item-icon-right" href="">
                    <img ng-src="img/128.jpg">
                    <h2>Smith John</h2>
                    <p>Room 113</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </a>
                <a class="item item-text-wrap item-avatar my-font item-icon-right" href="">
                    <img ng-src="img/128.jpg">
                    <h2>Smith John</h2>
                    <p>Room 113</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </a>

            </ion-list>
        </div>
    </ion-content>

</ion-view>
