<ion-view view-title="Patients">

    <!--<ion-content ng-controller="MediaCtrl" ng-init="init()" padding="scroll-bg" has-header="true">
        <ion-refresher pulling-text="Pull to refresh"
                       refreshing-text="Loading..."
                       on-refresh="doRefresh()">
        </ion-refresher>-->

    <ion-content>
         <div class="item-image">
            <img ng-src="img/homeBG.jpg" class="item-image"><!---->
            <!--<a class="item item-text-wrap item-avatar my-font" ng-click="">

                        <img ng-src="img/128.jpg">

                    </a>--><p>parap</p>
        </div>
        <!--<a class="item item-icon-left positive my-font" nav-clear href="#/patients">
            <i class="icon ion-ios-calendar-outline"></i>
            <h2 class="positive">Patient Details</h2>
        </a>-->        
        <!--<div class="list list-inset positive my-font">-->
        <div class="item positive my-font">
            <ion-list>
                <a class="item item-text-wrap item-avatar my-font item-icon-right" href="">
                    <img ng-src="img/128.jpg">
                    <h2>Smith John</h2>
                    <p>Room 113</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </a>
                <a class="item item-text-wrap item-avatar my-font item-icon-right" href="">
                    <img ng-src="img/128.jpg">
                    <h2>Smith John</h2>
                    <p>Room 113</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </a>
                <a class="item item-text-wrap item-avatar my-font item-icon-right" href="">
                    <img ng-src="img/128.jpg">
                    <h2>Smith John</h2>
                    <p>Room 113</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </a>
                <a class="item item-text-wrap item-avatar my-font item-icon-right" href="">
                    <img ng-src="img/128.jpg">
                    <h2>Smith John</h2>
                    <p>Room 113</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </a>
                <a class="item item-text-wrap item-avatar my-font item-icon-right" href="">
                    <img ng-src="img/128.jpg">
                    <h2>Smith John</h2>
                    <p>Room 113</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </a>

            </ion-list>
        </div>
            <!--
        </div>-->
    </ion-content>

</ion-view>
